# Direct dependencies
# Keep in sync with setup.py
coverage==7.4.3
cram==0.7
parameterized==0.9.0
pytest==8.0.2

# Indirect dependencies
attrs==23.2.0
exceptiongroup==1.2.0
importlib-metadata==7.0.2
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pyparsing==3.1.2
toml==0.10.2
tomli==2.0.1
typing-extensions==4.10.0
zipp==3.17.0
